<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandary.dcnet"
    android:versionCode="2"
    android:versionName="2.0" >

    <!-- SDK -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <!-- permission -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <!-- 联网许可 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取手机号码 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 需要改变wifi连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ***框架的切入点*** -->
    <application
        android:name="com.bandary.dcnet.uihandler.ApplicationCfg"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <uses-library android:name="android.test.runner" /> android:screenOrientation="portrait" -->
        <activity
            android:name="com.bandary.dcnet.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.IndexMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.KTListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.RegisterDCActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.AboutUsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.TypeManagerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.EditDCActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.DetailKTActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.WifiPointCfgActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
           
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.ForgetPwdActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.UpgradeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.ResetPwdActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.WifiPointWelcomeDiscActivity"
            android:label="@string/title_activity_welcome_disc" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.WifiPointCommuActivity"
            android:label="@string/title_activity_wifi_point_commu" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.WifiPointResultActivity"
            android:label="@string/title_activity_wifi_point_result" >
        </activity>
        <activity
            android:name="com.bandary.dcnet.ui.WifiScanListActivity"
            android:label="@string/title_activity_wifi_scan_list" >
        </activity>
    </application>

</manifest>